*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cor-secundaria);
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 120px auto;
    padding: 0 4%;
    display: flex;
    justify-content: center;
}

form{
    border: 1px solid orange;
    background-color: transparent;
    max-width: 500px;
    height: 575px;
    padding: 0px 50px;
    border-radius: 20px;
}

form h1{
    text-align: center;
    font-size: 30px;
    color:var(--cor-secundaria);
}

form p{
    text-align: center;
    margin: 20px 0;
    color:var(--cor-secundaria);
}

.input-single{
    position: relative;
    margin: 30px 0;
    color:var(--cor-secundaria);
}

.input-single label{
    position: absolute;
    left: 0;
    bottom: 40px;
    transition: all 0.3s;
    cursor: text;
    color:var(--cor-secundaria);
}

.input-mensagem{
   
  height: 50px;
 width: 100%;
 border: 1px solid rgb(128, 128, 128);
 border-radius: 10px;
 margin-bottom: 4%;
 color:var(--cor-secundaria);



}

.input-mensagem input{border: none;
width: 90%;
height: 48px;
border-radius: 5px;
margin: 0px 5px;
color:var(--cor-secundaria);


outline: none;

}
   
  


.input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ff8000;
    padding: 5px;
    font-size: 17px;
    outline: 0;
    color:var(--cor-secundaria);
    border-radius: 0px;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
    transform: translateY(-20px);
    font-size: 12px;
    color:var(--cor-secundaria);
}

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #ff7700;
    color:var(--cor-secundaria);
    cursor: pointer;

}

.btn input:hover{background-color: rgb(250, 154, 45);
transition: 0.2s};

