*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Menu Fixo*/
nav {
  background-color: white;
  
  width: 100%;
  height: 150px;
  display: flex;
  position: sticky;
  top: 0;

}

/* EDITAR*/
section div{
  width: 80%;
  height: 150px;
  background-color: #ccc;
  margin: 20px auto;
  border-radius: 15px;
}

/* DIV LOGO*/
.unipetlogo{
display: flex;
margin-left: 12%;
margin-top: 0.8%;
width: 13%;
height: 50%;
}

/*LOGO*/
#logonav {
  display:flex; 
  margin-top: 0%;
  width: 100%;
}

/* DIV AREA DE SERVIÇO GERAL*/
.areadeserviço{
  display: flex;
max-width: 100%;
width: 70%;
margin-left: 0%;

}

/* DIV AREA INPUT (BUTTON E INPUT)*/
.areainput {
  max-width: 100%;
  width: 70%;
  box-shadow: 1px 1px 1px 2px #ffc19a;
margin-top: 1.8%;
border-radius: 15px;
height: 40%;
margin-left: 5%;
}

.inputdiv{
max-width: 100%;}

/* DIV IMG LUPA */
.lupasearch{
max-width: 6%;
margin-top: -0.8%;
margin-left: 1.2%;
}
/* IMG LUPA */
#lupasearch{
  max-width: 100%;
margin-top: 0%;}


/* INPUT GERAL */
input{
  display: flex;
  max-width: 93%;
border-radius: 13px;
width: 92%;
padding: 27px;
margin-top: -7.5%;
border: none;
margin-left: 8%;
height: 50px;
outline:none;
text-align: justify;
}

/* BUTTON GERAL */
button{
  background-color:transparent; /* Torna o fundo transparente */
    border: none;
    cursor:pointer
}
/* Area de Login */
.iconeslogin{
  display: flex;
width: 30%;
justify-content: center;
gap: 10%;
margin-top: 3%;
margin-left: 5%;
text-decoration: none;
}

/* Area de Login HOVER*/
i:hover{background-color:rgb(186, 186, 186);
max-width: 100%;
transition: 0.3s;
border-radius: 50px;
padding: 6px;}

/* Span*/
span {text-align: justify;
color: rgb(0, 0, 0)
}
/* DIV Serviços*/
.servicos{
  display:flex;
  height: 50px;
  width: 100%;
  margin-top: 1%;
  margin-right: 60%;
   
}
/* Listas NAV Horizontal*/
nav li{
  display: inline-block;
}

/* Listas NAV Horizontal A*/
nav li a{
  display: inline-block;
  color: rgb(0, 0, 0);
text-decoration: none;
padding: 18px;
font-size: 1.2rem;
font-family: 'Courier New', Courier, monospace;
margin-left: 0%;}

/* Listas NAV Horizontal *A* HOVER*/
nav li a:hover{
  color:rgb(255, 119, 0);
transition: 0.3s;
}

/* Menu Dropdown (Ração, Coleiras e Remedios)*/
.dropdown-menu{
  position: absolute;
  box-shadow: 0.5px 0.5px 0.6px 0.6px rgb(107, 107, 107);
  display: none;
  margin-top: -0.5%;
  background-color: white;
  border-radius: 2%;
  width: 14%;
  
 
}
/* Menu Dropdown *A* (Ração, Coleiras e Remedios)*/
.dropdown-menu a{font-size: small;
font-family:sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
  display: block;
  text-align: justify;
  padding: 5%;
  transition: 0.5s;
  }
/* Menu Dropdown *A* HOVER CORES (Ração, Coleiras e Remedios)*/
  .dropdown-menu a:hover{
    background-color:rgba(250, 209, 198, 0.835);
    border-radius: 100px;
    width: 100%;
    transition: 0.5s;
  }

  /* Menu Dropdown *A* HOVER APARECER (Ração, Coleiras e Remedios)*/
.dropdown:hover .dropdown-menu{
  display: block;
}

