*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Menu Fixo*/
nav {
  background-color: white;
  width: 100%;
  height: 150px;
  display: flex;
  position: sticky;
  top: 0;

}

/* EDITAR*/
section div{
  width: 80%;
  height: 150px;
  background-color: #ccc;
  margin: 20px auto;
  border-radius: 15px;
}

/* DIV LOGO*/
.unipetlogo{
display: flex;
margin-left: 12%;
margin-top: 0.8%;
width: 13%;
height: 50%;
}

/*LOGO*/
#logonav {
  display:flex; 
  margin-top: 0%;
  width: 100%;
}

/* DIV AREA DE SERVIÇO GERAL*/
.areadeserviço{
  display: flex;
max-width: 100%;
width: 62%;
margin-left: 5%;
}

/* DIV AREA INPUT (BUTTON E INPUT)*/
.areainput {
  max-width: 100%;
  width: 70%;
  box-shadow: 1px 1px 1px 2px #ffc19a;
margin-top: 3%;
border-radius: 15px;
height: 40%;
}


/* DIV IMG LUPA */
.lupasearch{
max-width: 6%;
margin-top: 0%;
margin-left: 1.2%;
}
/* IMG LUPA */
#lupasearch{
  max-width: 100%;
margin-top: 0%;}


/* INPUT GERAL */
input{
  display: flex;
  max-width: 93%;
border-radius: 13px;
width: 100%;
padding: 10px;
margin-top: -8%;
border: none;
margin-left: 7%;
height: 50px;
outline:none;
text-align: justify;
}

/* BUTTON GERAL */
button{
  background-color:transparent; /* Torna o fundo transparente */
    border: none;
    cursor:pointer
}
/* Area de Login */
.iconeslogin{
  display: flex;
width: 30%;
justify-content: center;
gap: 10%;
margin-top: 4%;
margin-left: 5%;
}

span {text-align: justify;
color: rgb(0, 0, 0)
}