


/*-----------------------------------*\
  propriedade padrao
\*-----------------------------------*/

:root {

  /**/
  --body-bg: white;
  --body-color: black;
  

  /*espaçamento*/

  --section-padding: 40px;

}

[data-theme="dark"]{
  --body-bg: black;
  --body-color: white;
}

/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-size: 1.6rem;
  line-height: 1.5;
}

hr {width: 95%;
  margin: 0px auto;
  border: 1px solid rgb(255, 145, 0);
}


/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Reutilizado
\*-----------------------------------*/

.container {
   padding-inline: 15px; }

.secao { padding-block: var(--section-padding); }

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h2,
.h3 { line-height: 1.1; }

.h2,
.h3 { color: rgb(32, 33, 34); }

.h2 { font-size: 3.2rem; }

.h3 { font-size: 2.4rem; }

.btn {
  background-color: black;
  color: white;
  max-width: max-content;
  padding: 8px 25px;
  font-weight: 700;
  border-radius: 50px;
  transition: 0.25s ease;
}

.secao-titulo {
  text-align: center;
  margin-block-end: 30px;
}

.secao-titulo .span {
  display: inline;
  color: #FF914D;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
  margin-block-end: -20px;
}

.lista-item {
  min-width: 100%;
  min-width: calc(20% - 24px);
  scroll-snap-align: start;
}

.lista-grid {
  display: grid;
 
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.w-100 { width: 100%; }

.logo {
  font-size: 3rem;
}

/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  body
\*-----------------------------------*/


.sectionmsg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background: linear-gradient(700deg,#41b0ff ,#242424 60%  );
  margin: 20px 0;
 }

.mensagemcadastre-se{
  width: 35%;
  justify-content: center;
  align-items: center;
  

  
}

.mensagemcadastre-se a {
  display: flex;
  justify-content: center;
  gap:1%;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 800;
 
}

.mensagemcadastre-se i:hover{
  background-color:#d47234;
  padding: 3px;
  border-radius: 10px;
  transition: 0.7s;

  
 
  }

.mensagemcadastre-se span:hover {
  color: #d47234;
  border-radius: 10px;
  

}




/*-----------------------------------*\
  Categorias
\*-----------------------------------*/


.card-categoria .card-banner { border-radius: 10px;
}

.card-categoria .img-cover { transition: 2 ease;
  border-radius: 30px; }

.card-categoria:is(:hover, :focus-within) .img-cover { transform: scale(1.08); 
  transition: .5s;}

.card-categoria .card-titulo {
  margin-block-start: 15px;
  text-align: center;
  transition: 0.25s ease;
}

.card-categoria .h3 {font-size: 2rem;}

.card-categoria .card-titulo:is(:hover, :focus) { color: #FF914D; }





/*-----------------------------------*\
  Ofertas
\*-----------------------------------*/



.oferta .lista-grid {
  grid-template-columns: repeat(3, 1fr);
}

.card-oferta {
  border-radius: 80px;
  padding: 20px;
  display: grid;
  align-content: center;
}

.card-oferta:hover{
  scale: 1.1;
  transition: .7s;
}


.card-oferta .card-legenda {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.card-oferta .card-titulo {
  color: black;
  margin-block: 5px 24px;
}

.card-oferta .btn { background-color: #FF914D; }

.card-oferta .btn:is(:hover, :focus) { background-color: black; }



/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Produto
\*-----------------------------------*/

.produto .img-cover.hover { display: none; }

.card-produto { text-align: center; 

width: 80%;}

.card-produto .card-banner {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin-block-end: 20px;
}

.card-produto .h3 {
  --fs-3: 1.8rem;
  margin-block: 8px 10px;
}

.card-produto .card-titulo { transition: 0.25s ease; }

.card-produto .card-titulo:is(:hover, :focus) { color: #FF914D; }

.card-produto .card-preco {
  color: #FF914D;
  font-size: 2rem;
  font-weight: 700;
}

/*Flip imagem*/

.card-produto .card-banner { 
 }

.card-produto .img-holder:hover{scale: 1.1;
transition: 0.5s;}

.card-produto .card-action-btn,
.card-produto .card-banner .hover {
  display: block;
  position: absolute;
}
  
.card-produto .card-banner .hover {
  top: 0;
  left: 0;
}
  
.card-produto:is(:hover, :focus-within) .default,

  
.card-produto .default,
.card-produto:is(:hover, :focus-within) .hover { opacity: 1; }
  


/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Serviço
\*-----------------------------------*/

.servico .img {
  margin-inline: auto;
  margin-block-end: 30px;
}

.servico .secao-titulo { margin-block-end: 60px; }

.servico .lista-grid {
  grid-template-columns: repeat(4, 1fr);
}

.card-servico { text-align: center; }

.card-servico .h3 {
  font-size: 2.4rem;
}

.card-servico .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.card-servico .card-titulo { margin-block: 10px; }

.card-servico .card-texto { color: rgb(153, 153, 153); }



/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Gato background
\*-----------------------------------*/



.gato { background-position: 75%; }

.gato-banner { display: block; }

.gato .container  {margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  align-items: flex-end;
}

.gato .img { width: 250px;}

.gato .h2 {font-size: 3.2rem;}

.gato-conteudo { padding-block: 80px var(--section-padding); }

.gato .secao-titulo {
  text-align: left;
  margin-block: 10px 20px;
}

.gato .secao-texto { margin-block-end: 30px; }

.gato .btn {
  margin-bottom: 80px;
}

.gato .btn:is(:hover, :focus) {
  background-color: white;
  color: black;
}




/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Marcas
\*-----------------------------------*/

.marca { --section-padding: 100px; }

.marca .lista { gap: 0; }

.marca .lista-item { min-width: 20%; }

.marca .lista-item:not(:last-child) { 
  border-inline-end: 1px solid rgb(232, 232, 232); 
}

.card-marca {
  max-width: max-content;
  margin-inline: auto;
}



/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Rodape
\*-----------------------------------*/

.rodape {
  background-color: rgb(41, 42, 46);
  color: rgb(135, 135, 135);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding-block-start: 40px;
}

.rodape .container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.rodape-topo {
  padding-block-start: 120px;
  border-block-end: 1px solid rgb(60, 61, 62);
}

.rodape-topo .container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
}

.rodape .logo {
  color: white;
  margin-block-end: 10px;
}

.rodape-texto {
  font-size: 1.5rem;
  margin-block-end: 25px;
}

.rodape-texto .link {
  display: inline-block;
  color: #FF914D;
}

.item-contato {
  margin-block-end: 15px;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-contato {
  color: #FF914D;
}

.lista-social {
  display: flex;
  position: relative;
  gap: 2.5px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .2s;

}

.social-icon:hover {
  width: 100px;
}

.social-icon2:hover {
  width: 82px;
}

.social-icon span {
  position: absolute;
}

.social-icon .icon {
  color: #FF914D;
  font-size: 20px;
  transition: .2S;
}

.social-icon .icon-texto {
  color: white;
  font-size: 18px;
  padding: 5px;
  padding-left: 15px;
  transform: scale(0);
  transition: .2s;
  transition-delay: .1s;
}

.social-icon:hover .icon-texto {
  transform: scale(1);
}

.social-icon:hover .icon {
  transform: scale(0);
}

.social-icon::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(45deg, var(--cor-icon), var(--cor-icon2));
  inset: 0;
  opacity: 0;
  border-radius: 60px;
}

.social-icon:hover::before {
  opacity: 1;
}

/**.social-link {
  transition: 0.25s ease;
}

.social-link:is(:hover, :focus) {
  background-color: #FF914D;
  color: white;
  width: 180px;
}
**/

.rodape-lista-titulo {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  padding-block: 10px;
}

.rodape-link {
  padding-block: 4px;
  transition: 0.25s ease;
}

.rodape-link:is(:hover, :focus) { color: #FF914D; }

.rodape-inferior { padding-block: 20px; }

.copyright { margin-block-end: 10px; }

.copyright-link { display: inline-block; }

.rodape-inferior .img {
  width: 100%;
  max-width: max-content;
}

.rodape-inferior .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-----------------------------------*\
\*-----------------------------------*/



/*-----------------------------------*\
  Voltar para o Topo
\*-----------------------------------*/

#link-topo {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #FF914D;
  color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #333;
}


/*-----------------------------------*\
\*-----------------------------------*/





/*-----------------------------------*\
\*-----------------------------------*/



