*{
  margin:0;
  padding:0;
}

/* Menu Fixo*/
.menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  display: flex;
 justify-content: space-between;
  
}

/* DIV LOGO*/
.unipetlogo{
  
  max-width: 35%;
  width: 14%;
  display: flex;
  margin: 0px 11%;
  align-items: center;
  cursor:auto;
 }
  
  /*LOGO*/
#logonav {
max-width: 100%;
  display: flex;
  
  margin: auto;
}

  .ambienteseguro{
      margin: 0% 10%;
      display: flex;
  align-items: center;
gap: 0.5rem;
}

.ambienteseguro h1{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(117, 117, 117);
  font-size: 2rem;

}
.linha-vertical {

      color: gray;
      height: 30px;/*Altura da linha*/
      border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}




.container{

  background: linear-gradient(180deg,#FEF7C9 ,#d47234 );
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login{
  position: relative;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 40px;
}

.container .paw{
  font-size: 80px;
  position: relative;
}

.container .paw:first-child{
  bottom:100px;
  right:200px;
  color: #653731;
  transform: rotate(-20deg);
}

.container .paw:last-child{
  top:100px;
  left:200px;
  color: #FEF7C9;
  transform: rotate(20deg);
}

.left{
  flex:1;
  display:flex;
  flex-direction: column;
  padding: 0px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.left #unipetlogin{
  margin-bottom: 5px;
  margin-left: 38px;
  width: 80%;
  height: 50%;
}

.left h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-self: center;
  padding-bottom: 25px;
  color:#0055ff ;
  
}
.left form{
  display:flex;
  flex-direction: column;
}



form span{
  align-self: center;
}

form span:hover{

  cursor: pointer;
}

form button{
  color:#ffffff;
  font-weight: bold;
  border:none;
  border:2px solid #ff914c;
  background-color: #FF914D;
  border-radius: 20px;
  padding:8px;
  align-self: center;
  margin-top: 10px;
  width: 50%;
  cursor:pointer;
  transition: all .2s ease-in-out;
}

form button:hover{
  color:#FF914D;
  background-color: #ffffff;
}

.right{
  flex:1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  background-image: url(../Imagens/fotoslogin/cardimagem.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius:20px ;
  border-bottom-right-radius:20px ;
  transition: all .4s ease;
}

/*animação do login*/
.right:hover{
  flex:2;
  border-top-left-radius: 200px 300px; 
  border-bottom-left-radius: 200px 300px; 
}

.right span{
  margin:20px 0px;
}

.right a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  padding: 8px;
  margin-top: 240px;
  border-radius: 50px;
  border: 2px solid #FF914D;
  width: 50%;
  font-weight: bold;
  background-color: #FF914D;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.right a:hover{
  background-color:#ffffff ;

}


.right a:hover button{background-color: #ffffff;
  border: 2px solid #ffffff;
  transition: all .4s ease-in-out;
  color: #FF914D;
}




input{
  background-color: #DDDDDD;
  border:none;
  padding: 10px;
  margin-bottom: 10px;
}



.btncadastre{
  color: white;
  border: 2px solid #FF914D;
  font-weight: bold;
  background-color: #FF914D;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

