
/*-----------------------------------*\
  propriedade padrao
\*-----------------------------------*/



  /**/
:root{
  --cor-primaria: white;
  --cor-secundaria: rgb(0, 0, 0);
  

  /*espaçamento*/

  --section-padding: 40px;

}

.dark-theme {
  --cor-primaria: rgb(0, 0, 0);
  --cor-secundaria: rgb(255, 255, 255);
}
  
  /*-----------------------------------*\
  \*-----------------------------------*/
  

  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a,
  img,
  span,
  button,
  ion-icon { display: block; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { height: auto; }
  
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  

  body {background-color: var(--secundary-color);
    transition: 0.4s;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  

  /*-----------------------------------*\
  \*-----------------------------------*/

/*-----------------------------------*\
  Navbar
\*-----------------------------------*/

.navbar {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  top: 0;
  max-width: 100%;
}




.containernav {
  display: flex;
  align-items: center;
}


/* DIV LOGO*/

.logoimg {
  display: flex;
  justify-content: space-between;
  width: 14%;
  margin: 10px auto;
}

/*LOGO*/

#logoimagem { 
  max-width: 100%;
  height: 80px;
}

/* DIV INPUT GEREAL */

.imglupa {
display: flex;
justify-content: center;
max-width: 10%;
}

#lupaimagem {
  width: 50%;
  margin: 0px auto;
}

/* DIV Area de Login */

.iconeslogin {
  display: flex;
  gap: 1.3rem;
  margin: auto;
}

/* Area de Login HOVER*/

i:hover {
  background-color:rgb(252, 127, 17);
  max-width: 100%;
  transition: 0.3s;
  border-radius: 50px;
  padding: 6px;
}


/* BUTTON GERAL */

button {
  background-color:transparent; /* Torna o fundo transparente */
  border: none;
  cursor:pointer
}

/* INPUT div */
.inputsearch {
  max-width: 100%;
  width:100%;
  display: flex;
  justify-content: center;

}

.areainput {
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  margin-top: 0.5%;
  border-radius: 50px;
  height: 60px; 
  width: 40%;    
}


input {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border: 0px solid rgba(209, 209, 209, 0.27);
  border-radius: 50px;
  height: 50px;
  outline: none;
  text-align: flex-start;
  margin: 4px 0px;
}


.areadeservico {max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ul-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ul-dropdown .li-dropdown a {display: flex;
  margin-left: 25%;
  width: 100%;
  padding: 0px 30px;
  font-size: 1.7rem;


 

  color: var(--cor-secundaria);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px auto;
}

.li-dropdown  {
  padding: 8px 0px;
  max-width: 100%;
  list-style: none;
}

.li-dropdown a:hover {


  color: rgb(255, 140, 0);
  transition: 0.2s ease-in-out;
}

.ul-dropdown {
display: flex;
justify-content: center;
margin-left: 5%;
width: 50%;
}

.li-dropdown::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #ff7300;
  transition: 0.2s;
  position: absolute;
}

.li-dropdown:hover::after {
  display: flex;
  width: 5.5%;
}

/* Menu Dropdown (Ração, Coleiras e Remedios)*/
.dropdown-menu {
  position: absolute;
  box-shadow: 0 0 5px 0px rgb(168, 168, 168);
  border-radius: 5px;
  display: none;
  background-color: var(--cor-primaria);
   
}



.li-dropdown:hover .dropdown-menu a {
  margin: 10px 0px;
}

.dropdown-menu a:hover {
  color: orange;
}

/* Menu Dropdown *A* HOVER APARECER (Ração, Coleiras e Remedios)*/
.li-dropdown:hover  .dropdown-menu {display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 8px 0px;
  width: 15%;
  height: 290px;
  
}






