
/*-----------------------------------*\
  propriedade padrao
\*-----------------------------------*/

:root {

    /**/
    --body-bg: white;
    --body-color: black;
    
  
    /*espaçamento*/
  
    --section-padding: 40px;
  
  }
  
  [data-theme="dark"]{
    --body-bg: black;
    --body-color: white;
  }
  
  /*-----------------------------------*\
  \*-----------------------------------*/
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a,
  img,
  span,
  button,
  ion-icon { display: block; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { height: auto; }
  
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--body-bg);
    color: var(--body-color);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  hr {width: 95%;
    margin: 0px auto;
    border: 1px solid rgb(255, 145, 0);
  }
  
  img{max-width: 100%;}

  .container{
    display: flex;
  
    
    }


  .containerheaddescription{
    display: flex;
    flex-direction: column;
   
    margin-left: 10%;
    padding: 60px 0px;
    max-width: 40%;}

    .description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;}

    .description h1{color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 2%;
    font-weight: 600;
    margin-left: 6%;
    line-height: 1.5;
    }

    .description h4{color: rgb(34, 34, 34);
        font-size: 20px;
        font-weight: 100;
        margin-left: 6%;
        line-height: 1.5;
        }

        
.btncomprar{

    width: 100%;
    display: flex;
    
   }
    
    .comprar{width: 60%;
    background-color: rgb(255, 132, 0);
    color: white;
    font-size: 1.8rem;
    border-radius: 12px;
    margin-bottom: 5%;
    padding: 20px 20px;
    margin-left: 6%;
    margin-top: 5%;
    text-align: center;
    }

    
    
    .comprar:hover{opacity: 0.7;}

    .videodescription{display: flex;
       
        
        margin-left: 5%;
        align-items: center;
        max-width: 35%;
   }

    .videosrc{max-width: 100%;
      
    border-radius: 50px;}


    .container2{max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        }

    .contentimg2{max-width: 100%;
        margin-top: 5%;
      
        margin-left: 10%;
        
        
    }

    .contentimg2 img{
        width: 100%;
        border-radius: 70px;
    }

    .containerheaddescription2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        max-width: 100%;}

    .containercard{display: flex;
        flex-direction: column;
        height: 250px;
        margin-top: 6%;
        justify-content: center;
        background-color: rgb(245, 245, 245);
        max-width: 100%;
        width: 60%;
        border-radius: 30px;}


    .containercard-conteudo h1 {color: rgb(0, 0, 0);
        font-size: 22px;
        margin-top: 2%;
        font-weight: 600;
        margin-left: 6%;
        line-height: 1.5;
        }

        .containercard-conteudo h4 {color: rgb(0, 0, 0);
            font-size: 22px;
            margin-top: 2%;
            font-weight: 600;
            margin-left: 6%;
            line-height: 1.5;
            }
        .containerheadimgg{background-color: rgb(111, 73, 73);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   
   .containercard1{display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 6%;
    justify-content: center;
  
    max-width: 100%;
    width: 55%;
    border-radius: 30px;}

   .containercard2{display: flex;
    flex-direction: column; 
    margin-left: 11%;
    height: 200px;
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(130deg,#e78a00 40% ,#ffaf6e  );
    max-width: 100%;
    width: 20%;
    border-radius: 30px;
margin-bottom: 5%;}

    .containercard2 h1{color: white;}

    .containercard2:hover{opacity: 0.8;}


    .containerfinal{
     display: flex;
     flex-direction: column;
     
     max-width: 100%;
     margin-left: 11%;}

    .containerboxfinal{
      max-width: 100%;
    }

    .containerboximgdescription{
      display: flex;
      max-width: 100%;}

    .imgboxfinal{
    max-width: 100%;
  width: 35%;}

    .imgboxfinal img{max-width: 100%;
    width: 100%;
  border-radius: 20px;}
 
    .descripitionimg {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
      width: 30%;
      margin: 10px 20px;
      border-radius: 10px;
    }


    .descripitionimg h1{font-size: 2.4rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 2%;}
    .descripitionimg p{font-size: 2.2rem;
    text-align: center;}

    .btnsaibamais{color: white;
    width: 100%;
  display: flex;
justify-content: center;
}

.btnsaiba{
  display: flex;
  width: 100%;
  background-color: rgb(255, 132, 0);
  font-size: 1.8rem;
  border-radius: 12px;
  padding: 20px 20px;
  text-align: center;
  justify-content: center;}

  .btnsaiba button {color: white;}

.btnsaiba:hover{opacity: 0.8;}
/*-----------------------------------*\
  Voltar para o Topo
\*-----------------------------------*/

#link-topo {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #FF914D;
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #333;
  }
  
  
  /*-----------------------------------*\
  \*-----------------------------------*/
  
